{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="container">
    <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <h5 class="my-3 border-bottom pb-2">동영상 업로드</h5>
        <div class="form-group">
            <label for="subject">제목</label>
            <input type="text" class="form-control" name="subject" id="subject"
                   value="{{ form.subject.value|default_if_none:'' }}">
        </div>




        <div class="mx-auto" style="width: 400px;">
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="customFile" >
                <label class="custom-file-label" for="customFile" >파일을 업로드해 주세요</label>
            </div>

        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">업로드</button>
        </div>
    </form>

</div>

{% endblock %}

