{% extends 'base.html' %}
{% block content %}

{% load static %}
{% if user.is_authenticated %}                              <!-- 로그인시 출력 -->
{% for _ in "1234" %}
<div class="d-flex justify-content-center">

<div class="card m-2" style="width: 18rem;">
  <img src="../media/sample.jpg" class="card-img-top" alt="media/sample.jpg">
  <div class="card-body">
    <h5 class="card-title">제목</h5>
    <a href="#" class="btn btn-primary">이동</a>
    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
  </div>
</div>
</div >
{% endfor %}
{% else %}                                                  <!-- 로그아웃시 출력 -->

<div class="d-flex justify-content-center">
<video width="530" height="440" controls autoplay>
  <source src="../media/1.mp4" type="video/mp4"> </source>
</div>

{% endif %}

{% endblock %}