{% extends 'base.html' %}
{% block content %}

{% load static %}
{% if user.is_authenticated %}                              <!-- 로그인시 출력 -->
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
{% else %}                                                  <!-- 로그아웃시 출력 -->

{% endif %}

{% endblock %}